@model DigiGall.Models.Quest

@{
    ViewData["Title"] = "Create Quest";
}

<h2>Create New Quest</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="NamaQuest"></label>
        <input asp-for="NamaQuest" class="form-control"  required/>
    </div>
    <div class="form-group">
        <label asp-for="Kriteria"></label>
        <input asp-for="Kriteria" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Deskripsi"></label>
        <input asp-for="Deskripsi" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Reward"></label>
        <input asp-for="Reward" class="form-control"required />
    </div>
    <div class="form-group">
        <label asp-for="Deadline"></label>
        <input asp-for="Deadline" class="form-control" type="date" required />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

// appsettings.json

{
  "ConnectionStrings": {
    "DefaultConnection": "Server=tcp:digigall.database.windows.net,1433;Initial Catalog=digigall;Persist Security Info=False;User ID=dbuser;Password=%R^!8^98Brk#%mZJ33t;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;",
    "EdConnection": "Data Source=localhost;Initial Catalog=DigiGallss;User Id=SA;Password=MyStrongPass123;Integrated Security=True;TrustServerCertificate=true;Trusted_Connection=false"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}