@model DigiGall.Models.Item

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NamaItem" class="control-label"></label>
                <input asp-for="NamaItem" class="form-control" readonly />
                <span asp-validation-for="NamaItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deskripsi" class="control-label"></label>
                <input asp-for="Deskripsi" class="form-control" />
                <span asp-validation-for="Deskripsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URLGambar" class="control-label"></label>
                <input asp-for="URLGambar" class="form-control" />
                <span asp-validation-for="URLGambar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stok" class="control-label"></label>
                <input asp-for="Stok" class="form-control" />
                <span asp-validation-for="Stok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Harga" class="control-label"></label>
                <input asp-for="Harga" class="form-control" />
                <span asp-validation-for="Harga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ItemId"/>
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}