@model DigiGall.Models.RiwayatTransaksi

<h4>RiwayatTransaksi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NamaTransaksi" class="control-label"></label>
                <input asp-for="NamaTransaksi" class="form-control" />
                <span asp-validation-for="NamaTransaksi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipeTransaksi" class="control-label"></label>
                <input asp-for="TipeTransaksi" class="form-control" />
                <span asp-validation-for="TipeTransaksi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalHarga" class="control-label"></label>
                <input asp-for="TotalHarga" class="form-control" />
                <span asp-validation-for="TotalHarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamaPenerima" class="control-label"></label>
                <input asp-for="NamaPenerima" class="form-control" />
                <span asp-validation-for="NamaPenerima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamaPengirim" class="control-label"></label>
                <input asp-for="NamaPengirim" class="form-control" />
                <span asp-validation-for="NamaPengirim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanggalTransaksi" class="control-label"></label>
                <input asp-for="TanggalTransaksi" class="form-control" />
                <span asp-validation-for="TanggalTransaksi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <select asp-for="Email" class ="form-control" asp-items="ViewBag.Email"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

